{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class='bgcolor d-flex align-items-center'id ="fontcolot">
<div class="container col-sm-6 col-xs-12" id ="formcolor">
    <div class="justify-content-center formcolor p-4" >
        <form method='post'>
            <h2 class='mt-2'>New Password</h2>   
            {% csrf_token %}{{form|crispy}}
            <button type='submit' class="btn btn-primary mt-4 mb-4 w-25">Submit</button>
        </form>
    </div>
</div>
{% endblock content %}